/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #141313;
}

a {
  color: #00cf45;
  text-decoration: none;
}

a:hover {
  color: #0083CF;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0563bb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #0678e3;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

body {
  background: #0083cf;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #0563bb;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  background: url("../img/main-bg.png") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #home {
    padding-left: 160px;
  }
}

#home:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#home h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #ffee00fc;
}

#home p {
  color: #fbfbfb;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#home p span {
  color: #ffffff;
  letter-spacing: 1px;
}

#home .social-links {
  margin-top: 30px;
}

#home .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#home .social-links a:hover {
  color: #0563bb;
}

@media (max-width: 992px) {
  #home {
    text-align: center;
  }

  #home h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #home p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #ffffff;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Terms
--------------------------------------------------------------*/
.terms .terms-item {
  margin-bottom: 30px;
}

.terms #terms-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.terms #terms-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.terms #terms-flters li:hover,
.terms #terms-flters li.filter-active {
  color: #edeff1;
}

.terms #terms-flters li:last-child {
  margin-right: 0;
}

.terms .terms-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.terms-container .terms-item h4 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.terms-container .terms-item h4 a {
  color: #3b3a45;
  transition: ease-in-out 0.3s;
}
.terms-container .terms-item h4 a:hover {
  color: #14f959;
}

/*--------------------------------------------------------------
# Achievements
--------------------------------------------------------------*/
.achievements .icon-box {
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  transition: all ease-in-out 0.3s;
  background: #ffffff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.achievements .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.achievements .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.achievements .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.achievements .icon-box .icon svg path {
  transition: 0.5s;
  fill: #cc2525;
}

.achievements .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.achievements .icon-box h4 a {
  color: #a96636;
  transition: ease-in-out 0.3s;
}

.achievements .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.achievements .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.achievements .iconbox-blue i {
  color: #47aeff;
}

.achievements .iconbox-blue:hover .icon i {
  color: #fff;
}

.achievements .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.achievements .iconbox-orange i {
  color: #ffa76e;
}

.achievements .iconbox-orange:hover .icon i {
  color: #fff;
}

.achievements .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.achievements .iconbox-pink i {
  color: #e80368;
}

.achievements .iconbox-pink:hover .icon i {
  color: #fff;
}

.achievements .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.achievements .iconbox-yellow i {
  color: #ffbb2c;
}

.achievements .iconbox-yellow:hover .icon i {
  color: #fff;
}

.achievements .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.achievements .iconbox-red i {
  color: #ff5828;
}

.achievements .iconbox-red:hover .icon i {
  color: #fff;
}

.achievements .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.achievements .iconbox-teal i {
  color: #11dbcf;
}

.servachievementsices .iconbox-teal:hover .icon i {
  color: #fff;
}

.achievements .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #352e2e;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0563bb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}
